<%- include('./partial/userHeader') %>
    <div class="container">
        <% if (error) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <p style="white-space: pre-line;"><%= error.split(',').join('\n') %></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% } %>
      <h1 class="mb-3">Isi data diri</h1>
      <form action="/user/editProduct/<%= userId %>/<%= productId %>" method="post">
          <div class="mb-3">
            <label class="form-label">Nama Produk</label>
            <input type="text" class="form-control" name="name" value="<%= product.name %>">
          </div>
          <div class="mb-3">
            <label class="form-label">Deskripsi Produk</label>
            <textarea class="form-control" name="description" rows="5"><%= product.description %></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Harga</label>
            <input type="number" class="form-control" name="price" value="<%= product.price %>">
          </div>
          <div class="mb-3">
            <label class="form-label">Foto Produk</label>
            <input type="text" class="form-control" name="productImage" placeholder="https://i.imgur.com/ejM4NM6.gif" value="<%= product.productImage %>">
          </div>
          <div class="mb-3">
            <label class="form-label">Stock</label>
            <input type="number" class="form-control" name="stock" value="<%= product.stock %>">
          </div>
          <button class="btn btn-dark" type="submit">Submit</button>
      </form>
    </div>
<%- include('./partial/footer') %>