<%- include('./partial/userHeader') %>
<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
<div class="container">
  <% if (error) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <p style="white-space: pre-line;"><%= error.split(',').join('\n') %></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>
  <h1><%= product.name %></h1>
    <div class="d-flex align-items-start mx-auto p-2">
      <img src="<%= product.productImage %>" class="image" style="height: 350px; width: 350px;">
         <div>
            <p class="ms-1 fs-6">Nama Produk : <%= product.name %> </p>
            <p class="ms-1 fs-6">Harga : <%= formatCurrency(product.price) %>  </p>
            <p class="ms-1 fs-6" style="white-space: pre-line;">Deskripsi Barang : 
                <%= product.description %> 
            </p>
            <p class="ms-1 fs-6">Stock = <%= product.stock %> </p>
           <p class="ms-1 fs-6">Nama Penjual : <%= result.UserDetail.name %> </p>
           <p class="ms-1 fs-6">Nomor Telfon : <%= result.UserDetail.phoneNumber %> </p>
           <p class="ms-1 fs-6">Kategori : <% product.Categories.forEach(e => { %>
              <b><%= e.name + ',' %></b>
           <% }) %> </p>

          <a href="/products/<%= product.id %>/buy" class="btn btn-primary">Beli</a>
           <a href="/products" class="btn btn-warning">Batal</a>
           <a href="<%= result.UserDetail.linkWaSeller() %>" class="btn btn-secondary" target="_blank">Wa Seller</a>
           <% if (buyItem) { %>
            <button onclick="downloadInvoice()" class="btn btn-secondary">Invoice</button>
           <% } %>
        </div>
    </div>
  <div class="d-flex align-items-end">
      <p class="mt-1 fs-5 preline"></p>
  </div>
</div>

<script>
  function downloadInvoice() {
    console.log('masuk function')
    const data = {
                    // Customize enables you to provide your own templates
                    // Please review the documentation for instructions and examples
                    "customize": {
                        //  "template": fs.readFileSync('template.html', 'base64') // Must be base64 encoded html 
                    },
                    "images": {
                        // The logo on top of your invoice
                        "logo": "https://public.easyinvoice.cloud/img/logo_en_original.png",
                        // The invoice background
                        "background": "https://public.easyinvoice.cloud/img/watermark-draft.jpg"
                    },
                    // Your own data
                    "sender": {
                        "company": "Jualin Dong",
                        "address": "Jl. Pegangsaan Timur No.15 RT 11 RW 10",
                        "zip": "17450",
                        "city": "Jakarta Timur",
                        "country": "Jakarta"
                    },
                    // Your recipient
                    "client": {
                        "company": "Nama User",
                        "address": "Clientstreet 456"
                    },
                    "information": {
                        // Invoice number
                        "number": "2021.0001",
                        // Invoice data
                        "date": "12-12-2021",
                        // Invoice due date
                        "due-date": "31-12-2021"
                    },
                    // The products you would like to see on your invoice
                    // Total values are being calculated automatically
                    "products": [
                        {
                            "quantity": 1,
                            "description": "<%- product.name %>",
                            "tax-rate": 0,
                            "price": "<%- product.price %>"
                        }
                    ],
                    // The message you would like to display on the bottom of your invoice
                    "bottom-notice": "Terimakasih telah berbelanja",
                    // Settings to customize your invoice
                    "settings": {
                        "currency": "IDR", // See documentation 'Locales and Currency' for more info. Leave empty for no currency.
                        "locale": "id-ID", // Defaults to en-US, used for number formatting (See documentation 'Locales and Currency')
                    },
                    // Translate your invoice to your preferred language
                    "translate": {
                        // "invoice": "FACTUUR",  // Default to 'INVOICE'
                        // "number": "Nummer", // Defaults to 'Number'
                        // "date": "Datum", // Default to 'Date'
                        // "due-date": "Verloopdatum", // Defaults to 'Due Date'
                        // "subtotal": "Subtotaal", // Defaults to 'Subtotal'
                        // "products": "Producten", // Defaults to 'Products'
                        // "quantity": "Aantal", // Default to 'Quantity'
                        // "price": "Prijs", // Defaults to 'Price'
                        // "product-total": "Totaal", // Defaults to 'Total'
                        // "total": "Totaal", // Defaults to 'Total'
                        // "vat": "btw" // Defaults to 'vat'
                    },
                }
    easyinvoice.createInvoice(data, function (result) {
      console.log('masuk ke function')
      easyinvoice.download("invoice.pdf", result.pdf);
      //	you can download like this as well:
      //	easyinvoice.download();
      //	easyinvoice.download('myInvoice.pdf');   
    });
  }
</script>

<%- include('./partial/footer') %>